.Footer{
    height: 60px;
    text-align: center;
    background-color: #1f1b1be2;
    font-weight: 600;
    font-size: large;
    color: #00ff00;
    margin-bottom: 0px;
    margin-top: auto;
    /* border-bottom: 5px solid; */
  border-top: 4px solid black;
}
