.aboutUs{
   background-color:rgb(255, 255, 255) ;
    text-align: center;
     width:65%;
     height: 474px;
     margin-left: 13%;
    
     margin-bottom: 5%;
   color: aliceblue;
   font-weight: 700; 
   font-size: 50px;
  margin-top: 4%;
  border-width: 2% ;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;

  border-radius: 2%;
  box-shadow: rgb(23, 22, 22) 0 2px 4px,rgb(23, 22, 22) 0 7px 13px -3px,rgb(23, 22, 22) 0 -3px 0 inset;
}

.AboutHeading{
    margin-top: 1%;
 color: black;
 /* background-color: blueviolet; */
 width:98%;
 margin-left: 1%;
}

.aboutContainer{
    background-color: aqua;

}

.aContainer{
    /* background-color: rgb(238, 13, 13); */
    width: 98%;
    height: 78%;
    margin-left: 1%;
    /* margin-top: 5%; */
 
/* margin-bottom: 10%; */
    /* border-color: black;
    border-width: 6px; */
  
    /* border-width: 4px solid black;/ */
    /* background-image: url("./AboutImage.jpg"); */
}

.content{
    /* background-color: blueviolet; */
    font-weight: 700;
    font-size: 17px;
    width:400px;
    height: 400px;
    margin-left:3%;
    margin-top: 1%;
color: #2e2c2c;
}

.ImgContain{
    /* background-color: chartreuse; */
    width: 500px;
    height: 400px;
    margin-left: 1%;
    margin-top: 1%;
}


.ImgContain img{
    width: fit-content;
    height: fit-content;
}


