.CardName{
   
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 15px 0;
    padding-left: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}

.Cardwish{
    margin: 2.7rem;
    width: 280px;
    height: 520px;
   
    background-color: rgb(127, 234, 255);
    /* padding: 10px; */
    box-shadow: 0 3px 10px 0 rgb(23, 22, 22);
    /* cursor: pointer; */
  }

  .CardImage{
        object-fit: cover;
        height: 362px;
        padding-left: 18px;
        padding-top: 10px;
  }

.CardYear{
    font-size: 16px;
    font-weight: 500;
    padding-left: 0.7rem;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
}

.button2{
    margin: 1rem;
    align-items: center;
    /* appearance: none; */
    background-color: #000000;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgb(23, 22, 22) 0 2px 4px,rgb(23, 22, 22) 0 7px 13px -3px,rgb(23, 22, 22) 0 -3px 0 inset;
  
    display: inline-flex;
    height: 3rem;
    justify-content: center;
    line-height: 1;
  
    padding-left: 16px;
    padding-right: 16px;
    /* position: relative; */
    text-align: left;
 
    font-size: 1rem;
    font-family: sans-serif;
    color: #00ff00;
}


  .button2-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(23, 22, 22) 0 -3px 0 inset;
    transform: translateY(-2px);
  }
